* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: black;
}

/* GLITCH EFFECT */
 
.glitch {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12vw;
    letter-spacing: 8px;
    cursor: pointer;
}

.glitch::before, .glitch::after {
    content: 'CLICK';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
  
.glitch:hover::before {
    animation: glitch 0.3s linear infinite;
    color: #e91e63;
    z-index: -2;
}
  
.glitch:hover::after {
    animation: glitch 0.3s linear infinite reverse;
    color: #2196f3;
    z-index: -1;
}
  
@keyframes glitch {
    0% {
      top: 0;
      left: 0;
    }
    20% {
      top: -5px;
      left: -5px;
    }
    40% {
      top: 5px;
      left: 5px;
    }
    60% {
      top: -5px;
      left: 5px;
    }
    80% {
      top: 5px;
      left: -5px;
    }
    100% {
      top: 0;
      left: 0;
    }
}  

/* OTHER */

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

/* NAV */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    border-right:2px solid #e91e63;
    width: 300px;
    height: 100vh;
    /* overflow: hidden; */
    font-size: 30px;
}

.nav-list {
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.nav-list > a {
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left: 20px; */
}

.nav-button {
    color: white;
}

.nav-button:hover {
    background-color: #e91e63;
    cursor: pointer;
}

.content-container {
    margin-left: 300px;
}

hr {
    border: 1px solid #e91e63;
}

/* GO UP */

.go-up {
    display: none;
}

/* MAIN CONTAINER */

.main-container {
    min-height:100vh;
    margin-left: 300px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 720px) {
    .glitch {
        font-size: 15vw;
    }

    .go-up {
        display: block;
        position: fixed;
        top: 70vh;
        left: 80vw;
    }
    
    .go-up > img {
        width: 70px;
        filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(421%) hue-rotate(246deg) brightness(116%) contrast(82%);
    }
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-evenly;
    border-top:2px solid #e91e63;
    background: black;
    padding-top: 30px;
    padding-left: 300px;
    height: 100px;
}

.footer-icon > img{
    filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(421%) hue-rotate(246deg) brightness(116%) contrast(82%);
    opacity: 0.8;

    height: 50px;
}

.footer-icon > img:hover{
    filter: brightness(0) saturate(100%) invert(54%) sepia(11%) saturate(13%) hue-rotate(7deg) brightness(97%) contrast(88%);
}