* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: black;
}

:root {
    --primary-color: transparent;
    --overlay-color: #2195f3f1;
    --menu-speed: 0.5s;
    --menu-width: 300px;
  }

/* GLITCH EFFECT */
 
.glitch {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12vw;
    letter-spacing: 8px;
    cursor: pointer;
}

.glitch::before, .glitch::after {
    content: 'CLICK';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
  
.glitch:hover::before {
    animation: glitch 0.3s linear infinite;
    color: #e91e63;
    z-index: -2;
}
  
.glitch:hover::after {
    animation: glitch 0.3s linear infinite reverse;
    color: #2196f3;
    z-index: -1;
}
  
@keyframes glitch {
    0% {
      top: 0;
      left: 0;
    }
    20% {
      top: -5px;
      left: -5px;
    }
    40% {
      top: 5px;
      left: 5px;
    }
    60% {
      top: -5px;
      left: 5px;
    }
    80% {
      top: 5px;
      left: -5px;
    }
    100% {
      top: 0;
      left: 0;
    }
}  

/* OTHER */

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

/* NAV */

.logo {
    width: 100px;
    margin: auto;
    margin-top: -40px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    border-right:2px solid #e91e63;
    width: var(--menu-width);
    height: 100vh;
    font-size: 30px;
}

.nav-list {
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.nav-list > a {
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left: 20px; */
}

.nav-button {
    color: white;
}

.nav-button:hover {
    background-color: #e91e63;
    cursor: pointer;
}

.content-container {
    margin-left: 300px;
    width: calc(100% - var(--menu-width));
}

hr {
    border: 1px solid #e91e63;
}

/* MOBILE NAV */

.menu-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

/* DASHBOARD */

.main-container {
    min-height:calc(100vh - 150px);
    /* overflow: hidden; */
    margin-left: var(--menu-width);
}

.main-container > h1 {
    font-size: 8vh;
    text-align: center;
    margin-bottom:30px;
}

.main-content {
    border:2px solid #e91e63;
    margin: auto;
    width: 50%;
    height: 500px;
    font-size: 50px;
    padding: 30px;
}


/* CATALOG */
.catalog-content {
    display: flex;
    justify-content:space-around;

}

.game > img {
    height: 300px;
}


/* FOOTER */
footer {
    
    border-top:2px solid #e91e63;
    background: black;
    padding-top: 30px;
    margin-left: 300px;
    height: 150px;
}

.icons {
    display: flex;
    justify-content:center;
    left: var(--menu-width);
}

footer > p {
    text-align: center;
    margin-top: 30px;
}

.footer-icon > img{
    filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(421%) hue-rotate(246deg) brightness(116%) contrast(82%);
    opacity: 0.8;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
}

.footer-icon > img:hover{
    filter: brightness(0) saturate(100%) invert(54%) sepia(11%) saturate(13%) hue-rotate(7deg) brightness(97%) contrast(88%);
}

/* CONTACT */

.content-contact {
    width: calc(100% - 300px);
    
}

form {
    border: 2px solid #e91e63;
    width: 50%;     
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    
}
div > label {
    position: relative;
    width: 30vw;
    margin: 1.5vw 0;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

div > label > input {
    position: relative;
    height: 4vh;
    font-size: 1.5rem;
}

input, textarea {
    color: black;
}

div > input {    
    position: relative;
    display: flex;
    width: 10vw;
    flex-direction: column;
    align-items: center;
    margin: 1vw 0;
    font-size: 1.25rem;
}
div > textarea {
    position: relative;
    width: 30vw;
    height: 200px;
    font-size: 1.25rem;
}

header {
    position: relative;
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gender > p {
    margin-bottom: 10px;
}

.gender > input {
    display: inline;
    width: 50px;
}

.gender > label {
    display: inline;
}

.form-button {
    background:#2196f3;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-button:hover {
    border:2px solid #e91e63;
    cursor: pointer;   
}

iframe {
    border-radius: 20px;
    margin-bottom: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
    nav {
        display: none;
    }
    .menu-wrap {
        display: block;
    }
    
    .main-container {
        margin-left: 0;
    }

    .main-content {
        width: 80%;
    }

    footer {
        margin-left: 0;
    }

}

@media screen and (max-width: 720px) {
    .glitch {
        font-size: 15vw;
    }

    .go-up {
        display: block;
        position: fixed;
        top: 70vh;
        left: 80vw;
    }
    
    .go-up > img {
        width: 70px;
        filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(421%) hue-rotate(246deg) brightness(116%) contrast(82%);
    }
}
